/* ######

- Mobile: 375px
- Desktop: 1440px
- Font size: 15px
- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 200, 400, 600

###### */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: $very-dark-blue;

  background: $very-light-gray;
}

/* HEADER */
.header {
  text-align: center;
  max-width: 90%;
  margin: 5rem auto;

  &_title1, &_title2 {
    font-size: 1.25rem;
    @media screen and (min-width: 300px) {
        font-size: 5vmax;
    }
    @media screen and (min-width: 550px) {
        font-size: 2rem;
    }
    font-weight: 200;
  }

  &_title2 {
    font-weight: 600;
  }
}

/* MAIN SECTION */
main {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  gap: 2rem;
  margin: 0 auto;
  max-width: 80%;
  place-items: center;

  @media screen and (min-width: 860px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* CARD */
.card {
  background: white;
  width: 100%;
  height: 250px; /* make this more responsive if possible */
  box-shadow: 0 0.5rem 1.5rem $grayish-blue; /* needs to be softer */
  padding: 2rem;
  border-radius: 10px;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 500px) {
    width: 350px;
  }

  &_title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  @media screen and (min-width: 1200px) {
    &:first-of-type,
    &:last-of-type {
      grid-row: span 2;
    }
  }

  &_img {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }

  &:nth-of-type(1) > hr {
    border-color: $cyan;
  }

  &:nth-of-type(2) > hr {
    border-color: $red;
  }

  &:nth-of-type(3) > hr {
    border-color: $orange;
  }

  &:nth-of-type(4) > hr {
    border-color: $blue;
  }
}

hr {
  border: 2px solid;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
